.checkout{
    text-align: center;

    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(100vh - 195px);
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 60px 0;
    }

    &__header{
        margin-bottom: 50px;
    }

    &__body{
        max-width: 320px;

        &-title{
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            margin-bottom: 16px;
        }

        &-description{
            font-size: 16px;
            line-height: 22px;
        }
    }
}