.filter-price{
    display: flex;
    align-items: center;

    &__title{
        margin-right: 12px;
    }

    &__input{
        width: 100px;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 8px;
        height: 40px;
        font-size: 14px;
        display: flex;
        align-items: center;
        padding: 0 12px;
        margin-right: 8px;
    }

    &__button{
        display: flex;
        padding: 8px 16px;
        border-radius: 6px;
        color: #fff;
        background-color: #FF7010;
        cursor: pointer;

        &:hover{
            opacity: .7;
        }
    }
}