.edit-product{
    margin-bottom: 65px;

    &__inner{
        width: 850px;
        margin: 0 auto;
    }

    &__item{
        box-sizing: border-box;
        padding: 16px;
        border-radius: 12px;
        border: 1px solid #F0F0F0;
        background: #fff;

        &__inner{
            display: flex;
            align-items: center;
            width: 100%;
        }

        &__img-wrapper{
            max-width: 120px;
            margin-right: 16px;
        }

        &__img{
            max-width: 100%;
            height: auto;
        }

        &__content{
            margin-right: 32px;
            width: 320px;
        }

        &__title,
        &__description{
            color: #191919;
        }

        &__title{
            margin-bottom: 8px;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
        }

        &__description{
            font-size: 16px;
            line-height: 22px;
        }

        &__buttons{
            display: flex;
            align-items: center;
            margin-left: auto;

            &-edit{
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: 8px 16px;
                border-radius: 4px;
                border: 1px solid transparent;
                background-color: #FF7010;
                color: #fff;
                font-size: 14px;
                line-height: 18px;
                text-decoration: none;
                cursor: pointer;
                margin-right: 16px;
            }

            &-remove{
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: 8px 16px;
                border-radius: 4px;
                border: 1px solid transparent;
                background-color: #E23535;
                color: #fff;;
                font-size: 14px;
                line-height: 18px;
                text-decoration: none;
                cursor: pointer;
            }
        }

        &__hidden{
            display: none;

            &-active{
                display: block;
            }
        }

        &:not(:last-child){
            margin-bottom: 16px;
        }

        .text-field{
            margin: 0 0 20px;
        }
    }
}