.add-products{
    background: #FFFFFF;
    padding: 30px 16px;
    border-radius: 24px;
    width: 850px;

    &__wrapper{
        margin: 0 auto;
        width: 500px;

        .text-field{
            margin: 0 0 20px;
        }
    }

    &__button{
        padding: 14px 24px;
        color: #ffffff;
        background: #ff7010;
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
    }

    &__button-invalid{
        padding: 14px 24px;
        color: #ffffff;
        background: #ff7010;
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
        opacity: 0.7;
    }
}